@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
@keyframes logo-processor-animation{
    100%{
        transform: rotate(360deg);
    }
}
.logo{
    justify-content: flex-start;
    margin-left: 32px;
    font-size: larger;
}
.logo:hover svg{
    animation: logo-processor-animation 0.5s;
}
nav{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 32px;
    background-color: #34495E;
    border-bottom: 3px solid #6f42c1;
}
.container{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}
.menu a{
    margin: 0 16px;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.4s;
}
.active{
    background-color: #6f42c1;
}
.menu a:hover{
    background-color: #6f42c1;
    transform: scale(1.1);
}
.responsive{
    display: none;
}
.background{
    position: relative;
    z-index: 0;
    height: 1070px;
}
.background h3{
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
    margin: auto;
    text-align: center;
    font-size:1.2vw;
    font-weight:lighter;
}
.background div:nth-child(2), .background div:nth-child(3){
    z-index: 1;
    position: absolute;
    transform: translate(-50%,-50%);
    width: 16%;
    padding: 10px;
    font-size: x-large;
    font-weight:lighter;
    text-align: center;
    border-radius: 99px;
    cursor: pointer;
}
.background div:nth-child(2){
    left: 40%;
    top: 40%;
    background-color: #6f42c1;
    border: 3px solid #6f42c1;
}
.background div:nth-child(3){
    left: 60%;
    top: 40%;
    border: 3px solid aliceblue;
}
.contact{
    z-index: 99;
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #34495E;
}
@media (max-width:1024px){
    .responsive{
        display: block;
        border: none;
        background:none;
        cursor: pointer;
    }
    .responsive span{
        display: block;
        position: relative;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background-color: aliceblue;
        border-radius: 6px;
        transform-origin: 0 0;
        transition: 0.4s;
    }
    .responsive:hover span:nth-child(2){
        transform: translateX(10px);
        background-color: #6f42c1;
    }
    .menu{
        display: block;
        position: fixed;
        width: 30%;
        height: 100%;
        top: 65px;
        left: -100%;
        text-align: center;
        background-color: #6f42c1;
        transition: all 1s;
    }
    .menu a{ 
        display: block;
        padding: 20px;
    }
    button:focus ~ .menu{
        left: 0;
    }
}
