@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
@keyframes logo-processor-animation{
    100%{
        transform: rotate(360deg);
    }
}
nav{
    z-index: 2;
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 16px 32px;
    background-color: #34495E;
}
.logo{
    z-index: 4;
    justify-content: flex-start;
    margin-left: 32px;
    font-size: larger;
}
.logo:hover svg{
    animation: logo-processor-animation 0.5s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    z-index: 3;
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
    background-color: #34495E;;
    width: 720px;
    flex-wrap: wrap;
}
nav ul li{
    display: flex;
    justify-content: center;
    width: 100px;
    position: relative;
    margin: 0 16px;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.4s;
    
}
nav ul li.main:hover{
    background-color: #6f42c1;
    transform: scale(1.05);
}
.active{
    background-color: #6f42c1;
}
nav ul li a{
    display: block;
}
ul ul{
    
    position: absolute;
    display: none;
    top: 35px;
    border-radius: 10px;
    width: 150px;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    display: list-item;
    text-decoration: none;
    position: relative;
    
}
.responsive{
    display: none;
}
.background{
    position: static;
    display: flex;
    justify-content: center;
}
.wideo{
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
}
.content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    position: absolute;
    top: 50%;
    font-weight:lighter;
}
.przyciski{
    
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    
}
.przyciski div{
    border-radius: 10px;
    background-color: #6f42c1;
    border: 3px solid #6f42c1;
    
}
footer{
    background-color: dodgerblue;
    height: auto;
}
input[type="checkbox"]{
    display: none;
}
@media (max-width:1024px){
    .responsive{
        display: block;
        border: none;
        background:none;
        cursor: pointer;
    }
    .responsive span{
        display: block;
        position: relative;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        background-color: aliceblue;
        border-radius: 6px;
        transform-origin: 0 0;
        transition: 0.4s;
    }
    .responsive:hover span:nth-child(2){
        transform: translateX(10px);
        background-color: #6f42c1;
    }
    nav ul{
        position: absolute;
        display:block;
        width: fit-content;
        height:fit-content;
        top: 61px;
        left: -100%;
        background-color: #6f42c1;
        transition: all 1s;
        border-radius: 5px;
    }
    nav ul li {
        display: block;
    }
    #menu-button:checked ~ ul{
        left: 0;
    }
    ul ul{
        display: none;
        position:static;
        width: auto;
        top: 0;
        left: 0;
    }
    nav ul ul li{
       font-size: smaller;
    }
    nav ul li:hover > ul{
        display: none;
    }
    nav ul li.main:hover{
        background-color: transparent;
        transform: scale(1.05);
    }
    #html-button:checked~ul{
        display: block;
    }
    #CSS-button:checked~ul{
        display: block;
    }
    #JS-button:checked~ul{
        display: block;
    }
    #PHP-button:checked~ul{
        display: block;
    }
    #PYTHON-button:checked~ul{
        display: block;
    }
    #UNISEX-button:checked~ul{
        display: block;
    }
     ul.under-main li{
        transform: scale(0.6);
        padding: 0;
    }
}
@media(max-width:500px){
    
    nav ul.menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        margin: 0;
        border-radius: 0;
        padding: 0;
        left: 0;
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
    .responsive{
        display: none;
    }
    .active{
        display: none;
    }
    .logo{
        left: 50%;
    }
    .container{
        justify-content: center;
    }

}